@import '../../styles/variables';
@import '../../styles/mixins';

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  overflow: hidden;
  flex-basis: 100%;
  height: 0;
}

.pageItem {
  padding: 1rem 1.25rem;
  margin: 0 auto;
  background-color: $white;
}

.pageLink {
  color: $gray-800;
}
