@import '../../styles/variables';

.notFound {
  margin: 0.5rem 2rem;
  width: auto;
}

.message {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $red;
}

.searchTerm {
  font-size: 24px;
  font-weight: 700;
  color: $green;
}
