@import '../../styles/mixins';
@import '../../styles/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;

  @include media-small {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-medium {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-large {
    padding: 20px 100px;
    grid-template-columns: repeat(4, 1fr);
  }
}
