// Breakpoints
$mobile-breakpoint: rem-calc(550px);
$tablet-breakpoint: rem-calc(768px);
$desktop-breakpoint: rem-calc(992px);

// Colors
$gray-900: #171e24;
$gray-800: #202d36;
$gray-600: #2b3743;
$white: #fff;
$green: #7febaf;
$red: #d12b2b;
