@import '../../styles/mixins';
@import '../../styles/variables';

.box {
  padding: rem-calc(40px) 0;

  @include breakpoint(mobile) {
    padding: rem-calc(20px) 0;
  }

  @include breakpoint(tablet) {
    padding: rem-calc(20px) 0;
  }
}

.backButton {
  background-color: $green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  color: $gray-900;
  padding: 0.6rem 1.6rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-width: rem-calc(110px);
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.05);
  }
}

.content {
  display: flex;
  width: 100%;
  height: rem-calc(400px);
  align-items: center;

  @include breakpoint(mobile) {
    flex-direction: column;
    height: 100%;
  }
}

.contentLeft {
  display: flex;
  flex-basis: 50%;
  width: 100%;

  @include breakpoint(desktop) {
    width: auto;
  }
}

.contentLeft img {
  max-width: rem-calc(500px);
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 1.5rem 0;

  @include breakpoint(desktop) {
    margin-right: 2rem;
  }
}

.contentRight {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;

  @include breakpoint(mobile) {
    flex-direction: column;
    flex-basis: auto;
    width: 100%;

    .row {
      padding: 0;
      flex-direction: column;
      width: 100%;
    }
  }

  .row {
    padding-left: 0;
  }

  @include breakpoint(mobile) {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
