@import '../../styles/mixins';
@import '../../styles/variables.scss';

.search {
  padding: 1.25rem 0;
  width: 100%;

  @include breakpoint(desktop) {
    padding: 2.5rem 0;
  }
}

.searchInput {
  background-color: $gray-600;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 5px;
  color: $white;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  height: 50px;
  min-width: 200px;
  border: 1px solid $gray-900;

  &:active,
  &:focus {
    outline: 0;
  }

  @include breakpoint(tablet) {
    min-width: 300px;
    margin: 0;
  }

  @include breakpoint(desktop) {
    min-width: 500px;
  }
}

.searchInput::placeholder {
  color: $white;
}
