@import '../../styles/app';

// CountryCard
.card {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

// Details
.detailsContainer {
  background-color: $gray-600;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  margin-top: -4px;
}

.countryName {
  padding-bottom: 10px;
}

.countryDetail {
  font-weight: 700;
  padding-bottom: 5px;
}

.countryDetail span {
  font-weight: 400;
}

// Flag
.flag {
  border-radius: 5px 5px 0 0;
  height: 12.5rem;
  object-fit: cover;
  width: 100%;
}
