@import '../../styles/variables';

// CountryCard
.card {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.cardDetails {
  background-color: $gray-600;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  margin-top: -4px;
}

.countryName {
  margin-bottom: 1rem;
  color: $white;
}

// Flag
.flag {
  border-radius: 5px 5px 0 0;
  height: 12.5rem;
  object-fit: cover;
  width: 100%;
}

// Details
.detailInfoWrapper {
  margin-bottom: 0.6rem;
}

.detailInfoKey {
  margin-right: 0.375rem;
  font-size: 1rem;
  font-weight: 700;
  color: $white;
}

.detailInfoValue {
  font-weight: 400;
  font-size: 1rem;
  color: $white;
}
